.suggestion-card {
  transition: transform .2s ease, box-shadow .2s ease;
  border-radius: 10px;
}

.suggestion-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}
